<div ng-controller="homeController" layout="row" flex style="height:100%;">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
        <md-toolbar layout="row">
            <h1 class="md-toolbar-tools" flex>Menu</h1>
            <!--<md-icon ng-click="closeSideNav()" hide-gt-md style="margin-right:16px;">close</md-icon>-->
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-click="showVideos()" ng-class="{'activeItem': isVideosView}">VIDEOS</md-list-item>
                <md-list-item ng-click="showAccount()" ng-class="{'activeItem': isAccountView}">ACCOUNT DETAILS</md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-button ng-click="toggleSideNav()"
               class="md-primary" hide-gt-md>
        Toggle left
    </md-button>
    <div layout="column" flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span flex>BuzzFeed Portal</span>
                <md-button class="md-icon-button" ng-click="logout()" style="height:48px; width:48px;">
                    <i class="material-icons " style="font-size:36px">power_settings_new</i>
                </md-button>
            </div>
        </md-toolbar>

        <!--<div ui-view="videosView"></div>-->
        <div layout="column" ng-show="isVideosView">
            <md-content>

                <div layout="row" style="margin-top:8px">
                    <div style="padding-top:14px" flex>
                        <md-button ng-disabled="currentPaging.previous == undefined" ng-click="getVideos(currentPaging.previous)">PREVIOUS ({{currentPaging.previous}})</md-button>
                        <span style="line-height:48px; text-align:center;" flex>CURRENT <b>{{currentPaging.current}}</b></span>
                        <md-button ng-click="getVideos(currentPaging.next)">NEXT ({{currentPaging.next}})</md-button>
                    </div>
                    <div style="margin-right:16px" flex="30">
                        <md-input-container class="md-block">
                            <md-icon class="material-icons">search</md-icon>
                            <input ng-model="searchQuery" type="text" placeholder="SEARCH" />
                        </md-input-container>
                    </div>
                    <div style="margin-right:16px;" flex="15">
                        <md-input-container class="md-block">
                            <label>No. of Videos</label>
                            <md-select ng-change="applyPager()" ng-model="pagerValue">
                                <md-option ng-repeat="pagerPoint in pagerPoints" ng-value="pagerPoint">{{pagerPoint}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div style="margin-top:16px">
                        <md-button class="md-icon-button" ng-click="gridView = !gridView">
                            <i class="material-icons" ng-if="gridView">grid_on</i>
                            <i class="material-icons" ng-if="!gridView">grid_off</i>
                        </md-button>
                    </div>

                </div>

                <md-card ng-if="dataWithPager && gridView" ng-repeat="buzz in dataWithPager | filter: searchQuery " md-whiteframe="3" style="padding:10px;">
                    <div layout="row">
                        <h3 flex>{{buzz.title}}</h3>
                        <img class="avatar-img" ng-src="{{buzz.bylines[0].avatar}}" />
                    </div>

                    <div layout="row" layout-align="center center">
                        <img ng-src="{{buzz.images.wide}}" width="600" />
                    </div>
                </md-card>

                <table ng-if="dataWithPager && !gridView" class="my-table">

                    <tr>
                        <td style="text-align:center"><span>No#</span></td>
                        <td style="text-align:center"><span>Video</span></td>
                        <td><span>Name</span></td>
                        <td><span>Channel Image</span></td>
                    </tr>

                    <tr ng-repeat="buzz in dataWithPager | filter: searchQuery">
                        <td>{{$index+1}}</td>
                        <td style="text-align:center;"><img ng-src="{{buzz.images.small}}" /></td>
                        <td>{{buzz.title}}</td>
                        <td style="text-align:center"><img class="avatar-img" ng-src="{{buzz.bylines[0].avatar}}" /></td>
                    </tr>
                </table>
            </md-content>

        </div>

        <div ng-if="isAccountView" style="margin:16px">
            <h3>Welcome {{userName}}</h3>
            <b>access token : </b> <span style="word-break:break-all">{{accessToken}}</span>
            <br /><br />
            <b>refresh token : </b> <span>{{refreshToken}}</span>

            <h3>Interviewee Details</h3>
            <span ng-repeat="interviewee in interviewees">
                {{interviewee.name}}<br />
            </span>

            <h3>Interviewer Details</h3>
            <span ng-if="interviewers" ng-repeat="interviewer in interviewers">
                {{interviewer.name}}<br />
            </span>
            <span ng-if="!isAuthorise">
                You are not authorise to see this detail
            </span>

        </div>

    </div>
</div>