<div layout="row" layout-align="center center" style="height:100%;" flex>
    <md-card md-whiteframe="3" flex="50" ng-controller="loginController">
        <div layout="row" ng-if="isLoading" layout-align="center center" style="position:absolute; top:0; bottom:0; left:0; right:0;background-color:#fff; opacity:0.6; z-index:12">
            <md-progress-circular class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
        </div>
        <h3 class="text-center">LOGIN</h3>
        <form name="loginForm" ng-submit="login(loginForm)">
            <md-input-container layout="row" flex="80" flex-offset="10">
                <label>Email</label>
                <input type="text" ng-model="user.email" />
            </md-input-container>

            <md-input-container layout="row" flex="80" flex-offset="10">
                <label>Password</label>
                <input type="password" ng-model="user.password" />
            </md-input-container>
            <a ui-sref="register" ui-sref-active="active" flex-offset="10">Register now</a>

            <br />
            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-primary md-raised">LOGIN</md-button>
            </div>
        </form>
    </md-card>
</div>