<div layout="row" layout-align="center center" style="height:100%;" flex>
    <md-card md-whiteframe="3" flex="50" ng-controller="loginController">
        <h3 class="text-center">LOGIN</h3>
        <form name="loginForm" ng-submit="login(loginForm)">
            <div layout="row">
                <md-input-container flex="80" flex-offset="10" md-block>
                    <label>Email</label>
                    <input type="email" name="email" ng-model="user.email" 
                           ng-pattern="/^.+@.+\..+$/" required />
                    <div ng-messages="loginForm.email.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="pattern">Please enter valid email address.</div>
                    </div>    
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="80" flex-offset="10">
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" required />
                    <div ng-messages="loginForm.password.$error">
                        <div ng-message="required">This is required</div>
                    </div>
                </md-input-container>
            </div>
            <a ui-sref="register" ui-sref-active="active" flex-offset="10">Register now</a>

            <br />
            <div layout="row" layout-align="center center">
                <md-button type="submit" class="md-primary md-raised">LOGIN</md-button>
            </div>

        </form>
    </md-card>
</div>